@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
*{
    margin:0;
    padding:0;
}
.sidebar{
    background-color: rgb(172, 169, 169);
    width:400px;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: medium;
    height: 100vh;
}
.sidebar nav{
    padding:45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 15px;
    padding:33px 0;
}
.main{
    /* background-color: yellow; */
    width: 90vw;
    /* padding :23px */
   
    
}
.container
{
    display: flex;
}
.infoContainer{
    /* background-color: rgb(53, 31, 247); */
    height: 58vh;
    width:80vw;
    margin: 144px auto;
    height: 75vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.devInfo{
 display: flex;
 justify-content: center;
 flex-direction: column;
 font-family: 'Source Code Pro', monospace;
}
.hello{
font-size: 75px;
}
.name{
 font-size: 60px;
 font-weight: bold;
 font-family: 'Mochiy Pop P One', sans-serif;
}
.aboutme{
font-size: 40px;
}
.buttons{
    margin-top:34px
    
}
.buttons  button{
    padding:10px;
    border-radius:20px;
    background-color: rgb(168, 167, 167);
    color: black;
    font-weight: 700;
    margin: 0 3px;
    cursor: pointer;
}
.buttons  button:hover{
    color: rgb(168, 167, 167);
    background-color: black;
}
.sidebar nav li a{
    color:black;
    text-decoration: none;
}
.devPic img
{
    width: 400px;
    height: 58vh;
}
.contactform 
{
    padding:0 34px;
    padding-top: 144px;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: large;
}
.contactform h1{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}
.contactform button{
    padding:10px;
    border-radius:20px;
    background-color: rgb(168, 167, 167);
    color: black;
    font-weight: 700;
    margin: 0 3px;
    cursor: pointer;
}
.contactform  button:hover{
    color: rgb(168, 167, 167);
    background-color: black;
}
.contactform form div{
    padding:20px 0;
}
#emailHelp
{
    font-size: 8px;
    margin:0 5px;
}
.skillcontainer {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    /* justify-content: center;  */
    align-items: center; 
    text-align: center; 
    grid-gap: 1rem; 
    padding: 0.5rem 80px; 
    /* font-size: 1.0r; */
}

.about-para1
{
    height: 58vh;
    /* width:80vw; */
    /* margin: 122px auto; */
    height: 20vh;
    padding:20%;
    /* margin: auto;
    width: 50vw;
    height: 50vh; */
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: bolder;
    line-height: 2em;
}
@media (max-width: 938px) {
    .sidebar{
    transform: translate(-443px,0);
    position:absolute;
    };
    
}